.cssload-loader-inner {
  bottom: 0;
  height: 165px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 275px;
}

.cssload-cssload-loader-line-wrap-wrap {
  animation: cssload-spin 4400ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
    infinite;
  -o-animation: cssload-spin 4400ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
    infinite;
  -ms-animation: cssload-spin 4400ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
    infinite;
  -webkit-animation: cssload-spin 4400ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
    infinite;
  -moz-animation: cssload-spin 4400ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
    infinite;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 138px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  width: 275px;
}
.cssload-loader-line-wrap {
  border: 11px solid transparent;
  border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 275px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 275px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(1) {
  animation-delay: -110ms;
  -o-animation-delay: -110ms;
  -ms-animation-delay: -110ms;
  -webkit-animation-delay: -110ms;
  -moz-animation-delay: -110ms;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) {
  animation-delay: -220ms;
  -o-animation-delay: -220ms;
  -ms-animation-delay: -220ms;
  -webkit-animation-delay: -220ms;
  -moz-animation-delay: -220ms;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) {
  animation-delay: -330ms;
  -o-animation-delay: -330ms;
  -ms-animation-delay: -330ms;
  -webkit-animation-delay: -330ms;
  -moz-animation-delay: -330ms;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) {
  animation-delay: -440ms;
  -o-animation-delay: -440ms;
  -ms-animation-delay: -440ms;
  -webkit-animation-delay: -440ms;
  -moz-animation-delay: -440ms;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) {
  animation-delay: -550ms;
  -o-animation-delay: -550ms;
  -ms-animation-delay: -550ms;
  -webkit-animation-delay: -550ms;
  -moz-animation-delay: -550ms;
}

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
  border-color: rgb(237, 165, 88);
  height: 248px;
  width: 248px;
  top: 19px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
  border-color: rgb(236, 111, 76);
  height: 209px;
  width: 209px;
  top: 39px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
  border-color: rgb(100, 237, 119);
  height: 171px;
  width: 171px;
  top: 58px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
  border-color: rgb(52, 191, 237);
  height: 132px;
  width: 132px;
  top: 77px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
  border-color: rgb(237, 64, 110);
  height: 94px;
  width: 94px;
  top: 96px;
}

@keyframes cssload-spin {
  0%,
  15% {
    transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  0%,
  15% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  0%,
  15% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  0%,
  15% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  0%,
  15% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
