@media (max-width: 500px) {
  .container {
    font-size: 10px;
  }
  .weather-big-description-temp-real {
    font-size: 30px;
  }
}
@media (min-width: 500px) {
  .container {
    font-size: 20px;
  }
  .weather-big-description-temp-real {
    font-size: 50px;
  }
}
.weather-big {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.weather-big-description {
  display: flex;
}
.container {
  position: relative;
}
.weather-big-description-temp-real {
  position: absolute;
  width: 100%;
}
.weather-big-description img {
  padding: 20px;
}
